.card-shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x:hidden;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

}

.detail {
  width: 60%;
  border-radius: 1rem;
  padding: 2rem 5rem;
  background: white;
  position: absolute;
  left: 10%;
  color: black;
  img {
    width: 100%;
  }
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  img {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
  }
}
.info {
  text-align: center;
}
.platforms {
  display: flex;
  justify-content: space-evenly;
  img {
    margin-left: 1rem;
    width: 35px;
  }
}
.media {
  margin-top: 5rem;
  img {
    width: 100%;
  }
}

.description {
  margin: 5rem 0;
}
